<%= render "shared/header"%>

<div class="main">
 <div class="main-contents">
  <h1 class="new-post">Recent Posts</h1>
   <ul class="article-lists">
    <% @articles.each do |article| %>
     <li class='list'>
       <%=link_to article_path(article.id) do %>
       <div class="article-info">
         <p class="title"><%= truncate(article.title, length: 8) %></p>
         <p class="writer"><%= article.user.nickname %></p>
       </div>
       <div class='article-img-content'>
          <%= image_tag article.images.first, class: "article-img"%>
       </div>
       <% end %>
     </li>
    <% end %>
   </ul>
  <div class="paginate"> <%= paginate @articles %></div>
 </div>
 <div class="side-menu">
  <%= render "shared/side_bar"%>
 </div>
</div>
<%= render "shared/footer"%>