<%= render "shared/header"%>
<div class="main">
 <div class="main-contents">
   <p class="create-time"><%= "投稿日時:" %><%= l @article.created_at %></p>

   <% if user_signed_in? && current_user.id == @article.user_id %>
    <div class="author-menu">
     <%= link_to "編集", edit_article_path(@article.id), class: "edit-btn" %>
     <%= link_to "削除", article_path(@article.id), method: :delete, class: "delete-btn" %>
     </div>
    <% end %>
     
     
      <h2 class="show-title"><%= @article.title %></h2>
      
     <div class="datetime-info">
      <p class="show-date"><%= "日付: " %><%= @article.date %></p>
      <p> <%= "時間帯: " %><%= @article.time_zone.name %> </p>
       <%= link_to @article.user.nickname, "#", class: "show-writer" %>
    </div>

    <div class="hashtag">
     <%= render_with_hashtags(@article.hashbody) %>
    </div>

     <div class='article-img-content'>
        <% @article.images.each do |image| %>
         <%= image_tag image, class:'show-img' %>
        <% end %>
      </div>

   <div class="rate-wrapper">
    <div class="map" id="map"></div>
    <%= render "map"%>

    <table>
     <tr>
      <th>駐車場</th>
      <td><div id="parking-rate-<%= @article.id %>"></div></td>
     </tr>
     <tr>
      <th>トイレ</th>
      <td><div id="toilet-rate-<%= @article.id %>"></div></td>
     </tr>
     <tr>
      <th>混雑度</th>
       <td><div id="crowd-rate-<%= @article.id %>"></div></td>
     </tr>
    </table>
    <%= render 'rating'%>
   </div>
         

    <div class="text-box"><%= @article.text %></div>

  <div class="comment-wrapper">
   <div class="comment-title">Comment</div>
   <% if @comments.present? %>
    <div class="comment-list">
      <% @comments.reverse.each do |comment| %>
        <p class="comment-contents"><%= comment.user.nickname %>: <%= comment.message %></p>
      <% end %>
    </div>
   <% else %>
     <div class="comment-message">コメントがありません</div>
   <% end%>
   
   <% if user_signed_in?%>
     <%= form_with(model: [@article,@comment], local: true, class: "comment-form") do |f| %>
     <%= f.text_area :message, class:"text-form", placeholder: "コメントする" %>
     <p><%= f.submit 'Send', class: "comment-btn" %></p>
     <% end %>
   <% else %>
     <p class="comment-warn">※コメントの投稿はログインユーザーのみ可能です</p>
   <% end %>
  </div>
 
 </div>


 <div class="side-menu">
  <%= render "shared/side_bar"%>
 </div>
</div>
<%= render "shared/footer"%>