<%= render "shared/header"%>
<div class="form-wrap">
  <div class="mypage-left">
   <h2 class="form-title">My page</h2>
   <%= image_tag 'footstamp.png', class: 'footstamp' %>
  </div>
  <div class="mypage-wrap">
   <p class="nickname"><%= current_user.nickname %></p>
  <ul class="user-menu">
   <li class="user-articles"><%= link_to "今までの記録", user_path(current_user) %></li>
   <li class="user-favorite"><%= link_to "お気に入りのノート", user_favorites_path(current_user) %></li>
   <li class="user-edit"><%= link_to "ユーザー情報の変更", edit_user_path(current_user) %></li>
  </ul>

  </div>
</div>
<%= render "shared/footer" %>
