<div class="article-form">
  <div class="hashtag-main">
  <h1 class="article-form-title">
    <%= @user.nickname %>の記録
   </h1>
  
   <% if @articles.present?%>
    <ul class="hashtag-lists">
     <% @articles.reverse.each do |article| %>
     <li class='list'>
       <%=link_to article_path(article.id) do %>
       <div class="article-info">
         <h2 class="hash-title"><%= truncate(article.title, length: 10) %></h2>
         <p class="writer"><%= article.user.nickname %></p>
       </div>
       <div class='article-img-content'>
          <%= image_tag article.images.first, class: "article-img"%>
       </div>
       <% end %>
     </li>
    <% end %>
   </ul>
   <% else %>
    <div class="no-article">
     <p class="no-article-message">まだ記録がありません</p>
     <%= link_to "フィールド体験を記録する!", new_article_path, class: "new-from-mypage" %>
    </div>
    <div class="fishing-img">
     <%= image_tag 'fishing.png' %>
    </div>
   <% end %>
   <div class="return-home">
    <%= link_to "HOME", root_path, class: "home" %>
   </div>
  </div>
  <footer class="article-form-footer">
   <%= link_to image_tag("logo.png", class:"footer-logo"), "/" %>
  </footer>
</div>