<div class="top-header"> 
 <div class="search-contents">
   <%= link_to image_tag("logo.png", class:"logo"), "/" %>
    <form class="search-form">
     <input type="text" class="text-input">
     <input type="submit" value="検索" class="search-button">
    </form>
 </div>

 <div class="menu-contents">
    <ul class="menu-list">
    <% if user_signed_in? %>
     <li><%= link_to current_user.nickname, users_path, class: "username" %></li>
     <li><%= link_to 'Signout',destroy_user_session_path, class: "sign-out", method: :delete%></li>
    <% else %>
     <li><%= link_to 'Login ',new_user_session_path, class: "login" %></li>
     <li><%= link_to 'Signup',new_user_registration_path, class: "sign-up" %></li>
    <% end %>
    </ul>
 </div>
</div>