<div class="side-contents">
<div class='newpost'>
  <a href=" /articles/new">
    <%= image_tag 'note.png' , class: "newpost-btn" %>
    <p class='newpost-text'>記録をする</p>
  </a>
</div>
 
 <div class="search-lists">
  <%= search_form_for @p, url: search_articles_path, class: "search-list" do |f| %>
    <p class="search-label"><%= f.label :category_id_eq, 'カテゴリー' %></p>
    <%= f.collection_select :category_id_eq, @category, :id, :name, include_blank: '指定なし' %>
    <p class="search-label"><%= f.label :prefecture_id_eq, '都道府県' %></p>
    <%= f.collection_select :prefecture_id_eq, @prefecture, :id, :name, include_blank: '指定なし' %>
    <p><%= f.submit 'Search', class: "search-btn" %></p>
  <% end %>
  </div>

  <div class="weather-wrap">
   <p class="weather">Weather Forecast</p>
   <div id="weather"></div>
  </div>
</div>

