<!DOCTYPE html>
<html>
  <head>
    <title>MyFieldNotes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d215f5bf41.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
  
</html>
